---
import Image from '~/components/common/Image.astro';

export interface Props {
  id?: string;
  image?: string | unknown; // TODO: find HTMLElementProps
}

const {
  id,

  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="" {...id ? { id } : {}}>
      {
        image && (
          <div class="relative m-auto max-w-5xl">
            {typeof image === 'string' ? (
              <Fragment set:html={image} />
            ) : (
              <Image
                class="h-auto max-w-full rounded-lg"
                widths={[400, 768, 1024, 2040]}
                sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                loading="eager"
                width={2048}
                height={1536}
                {...image}
              />
            )}
          </div>
        )
      }
  

</section>
