---
import Image from '~/components/common/Image.astro';

export interface Props {
  id?: string;
  image?: string | unknown; // TODO: find HTMLElementProps
}

const {
  id,
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="max-w-3xl mx-auto">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  </div>

    <div>
      {
        image && (
          <div class="relative m-auto max-w-5xl">
            {typeof image === 'string' ? (
              <Fragment set:html={image} />
            ) : (
              <Image
                class="mx-auto rounded-md w-full"
                widths={[400, 768, 1024, 2040]}
                sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                loading="eager"
                width={1024}
                height={576}
                {...image}
              />
            )}
          </div>
        )
      }
    </div> 
  </div>

</section>
