---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Gallery from '~/components/widgets/Gallery.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const images = [
  { src: '~/assets/images/fotos/PHOTO-2024-06-06-06-58-53.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-08-21-10-23.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-18-10-44-29.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-19-18-22-16 2.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-19-18-22-16.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-19-18-22-17 2.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/PHOTO-2024-06-19-18-22-17 3.jpg', alt: 'Terreno mazunte' },
  
  { src: '~/assets/images/fotos/IMG_7284.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7293.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7301.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7304.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7310.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7312.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7313.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7314.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7316.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7317.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7318.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7340.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7357.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7362.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7366.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7368.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7371.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7372.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7373.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7428.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7429.jpg', alt: 'Terreno mazunte' },
  { src: '~/assets/images/fotos/IMG_7431.jpg', alt: 'Terreno mazunte' },

];

const metadata = {
  title: 'Venta de terreno a unos minutos de Mazunte',
  ignoreTitleTemplate: true,
};
---



<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id="inicio"
    actions={[
      {
        variant: 'primary',
        text: 'whats app',
        href: 'https://wa.me/+525540197392',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
      { 
        variant: 'primary',
        text: 'Llamar',
        href: 'https://wa.me/+525540197392',
        target: '_blank',
        icon: 'tabler:device-mobile',
      },
    ]}
    image={{ src: '~/assets/images/fotos/IMG_7429.jpg', alt: 'Terreno en venta Mazunte | Ventanilla' }}
  >
    <Fragment slot="title">
      Terreno <span class="hidden xl:inline">a unos minutos de Mazunte</span>
      <span class="text-accent dark:text-white highlight"> 400 metros cuadrados</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Venta</span> de terreno de 20 x 20 metros. Mazunte | Ventanilla</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Ubicado a unos minutos de playa Ventanilla | Mazunte</span>
      MXN $ 1,100.00 pesos x m2. 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note />-->

  <!-- Features Widget *************** -->

  <Features
    id="servicios"
    tagline="Cuenta con"
    title="Servicios"
    subtitle=""
    items={[
      {
        title: 'Wifi',
        description:
          'La ubicación está lista para la instalación de servicios de internet, permitiendo una conexión rápida y estable para trabajo remoto, entretenimiento en línea y comunicación constante.',
        icon: 'tabler:wifi',
      },
      {
        title: 'Luz',
        description:
          'El terreno cuenta con acceso cercano a la red eléctrica de la Comisión Federal de Electricidad (CFE), con postes de luz a pocos metros',
        icon: 'tabler:bulb',
      },
      {
        title: 'Agua',
        description:
          'El agua potable está disponible a través de servicio de pipas, asegurando un suministro constante y confiable para sus necesidades diarias.',
        icon: 'tabler:drop-circle',
      },
      {
        title: 'Drenaje',
        description:
          'El sistema de drenaje se tiene que planificar con fosa séptica correctamente instaladas, proporcionando una solución eficiente y respetuosa con el medio ambiente para la gestión de aguas residuales.',
        icon: 'tabler:bath',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
  id="ubicacion"
    isReversed
    tagline="LLegando"
    title="Al Terrenito"
    items={[
      // {
      //   title: 'Built on top of Astro 4.0',
      //   description:
      //     'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      // },
      // {
      //   title: 'Styled using Tailwind CSS',
      //   description:
      //     'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      // },
    ]}
    image={{
      src: '~/assets/images/como-llegar/1b.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Iniciando el camino</h3>
      Desde la carretera Acapulco - Salina Cruz, en dirección a Mazunte por la carretera México 175, encontrarás la entrada al terreno.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      // {
      //   title: 'High level of customization',
      //   description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      // },
      // {
      //   title: 'Multiple layout possibilities',
      //   description:
      //     'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      // },
      // {
      //   title: 'Fully responsive design',
      //   description:
      //     "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      // },
      // {
      //   title: 'Integration of media',
      //   description:
      //     'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      // },
    ]}
    image={{
      src: '~/assets/images/como-llegar/2.jpg',
      alt: 'venta de terreno en Mazunte',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Entrada principal
      </h3>
      Verás el vivero Mi Jardín, que es el acceso principal al terreno. Continúa recto desde ahí.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      // {
      //   title: 'Enhanced user engagement',
      //   description:
      //     'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      // },
      // {
      //   title: 'Continuous improvement',
      //   description:
      //     'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      // },
      // {
      //   title: 'Time and resource efficiency',
      //   description:
      //     'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      // },
      // {
      //   title: 'Community support',
      //   description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      // },
    ]}
    image={{
      src: '~/assets/images/como-llegar/3.jpg',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    LLegando a la Y
    </h3>
    Llegarás a una bifurcación donde deberás tomar el camino a la derecha para continuar recto.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
   
    items={[
      {
        title: 'Estamos a punto de llegar',
        description:
          "En pocos metros llegarás al destino. Sigue recto. A tu lado verás algunas casas y posibles vecinos.",
        icon: '',
      },
      // {
      //   title: 'Step 2: <span class="font-medium">Add content</span>',
      //   description:
      //     "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
      //   icon: 'tabler:letter-case',
      // },
      // {
      //   title: 'Step 3: <span class="font-medium">Customize styles</span>',
      //   description:
      //     'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
      //   icon: 'tabler:paint',
      // },
      // {
      //   title: 'Ready!',
      //   icon: 'tabler:check',
      // },
    ]}
    image={{
      src: '~/assets/images/como-llegar/4.jpg',
      alt: 'Steps image',
    }}
  />

  <Content
    isReversed
    isAfterContent
    items={[
      // {
      //   title: 'Enhanced user engagement',
      //   description:
      //     'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      // },
      // {
      //   title: 'Continuous improvement',
      //   description:
      //     'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      // },
      // {
      //   title: 'Time and resource efficiency',
      //   description:
      //     'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      // },
      // {
      //   title: 'Community support',
      //   description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      // },
    ]}
    image={{
      src: '~/assets/images/como-llegar/6.jpg',
      alt: 'Astronauts Image',
    }},
    
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
   Llegamos.
    </h3>
    El terreno está en la colina. A un lado hay una avenida de dos carriles.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- component -->



   <!-- GALERIA DE IMGS -->
   <section class="relative md:-mt[100px] not-prose" id="fotos">
    <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
      <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
        Galería de imágenes.
      </h1>
    </div>
    
    <div class="grid grid-cols-2 gap-2">
      {images.map((image) => (
        <Gallery
            id={image.src}
            image={image}
        />
    ))}
    </div>
  </div>
    </section>
   
  <!-- /GALERIA DE IMGS -->

  <!-- Mapas -->

  <Content
  
    isReversed
    id="playas"
    tagline="Mapas"
    title="Ubicaciones"
    items={[
      {
        title: 'Playa Ventanilla',
        description:
          'Playa Ventanilla es famosa por su arena suave y dorada, ideal para pasear descalzo mientras se admiran las vistas del océano Pacífico. Aquí, los visitantes pueden explorar manglares y estuarios, hogar de una rica variedad de flora y fauna, incluyendo aves tropicales y cocodrilos en su hábitat natural.',
      },
      {
        title: 'Manglar Ventanilla',
        description:
          'En Playa Ventanilla, los visitantes pueden disfrutar de largas caminatas por la orilla, rodeados por el paisaje impresionante de acantilados y bosques que se encuentran con el mar. Los amantes de la naturaleza pueden explorar el área protegida de la laguna y el manglar, donde las aves exóticas y los cocodrilos conviven en armonía.',
      },
    ]}
    image={{
      src: '~/assets/images/fotos/Ventanilla.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Playa Ventanilla</h3>
      Queda 6 min de la ubicación del terreno en moto.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Playa punta cometa',
        description: `Disfruta de aguas cristalinas y arena dorada en la pintoresca playa de Mazunte. Perfecta para relajarse bajo el sol y explorar la vida marina en sus arrecifes cercanos.`,
      },
      {
        title: 'Centro Mexicano de la Tortuga',
        description:
          'Sumérgete en el fascinante mundo de las tortugas marinas en este centro dedicado a su conservación. Observa cómo estas criaturas majestuosas son rehabilitadas y aprende sobre su importancia ecológica.',
      },
      {
        title: 'Cosméticos Naturales de Mazunte',
        description:
          "Descubre los secretos de la cosmética natural en Mazunte, famosa por sus productos elaborados a partir de ingredientes orgánicos locales como el aceite de coco y la manteca de cacao.",
      },
      {
        title: 'Eco-tours en Punta Cometa',
        description:
          'Explora la biodiversidad de Punta Cometa, el punto más meridional de México, con eco-tours guiados que te llevarán a través de senderos escénicos y puntos de observación de ballenas y delfines en su hábitat natural.',
      },
    ]}
    image={{
      src: '~/assets/images/fotos/Mazunte.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Muzunte
      </h3>
      10 min en moto. Un lugar donde encontraras de todo
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Bancos y tiendas departamentales',
        description:
          'En Pochutla, Oaxaca, hay varias opciones de bancos y cajeros automáticos disponibles para realizar transacciones financieras. Algunas de las instituciones financieras que puedes encontrar son: Banamex, BBVA, Santander, Banorte, HSBC. Tiendas Departamentales: Coppel y Electra',
      },
      {
        title: 'Mercado',
        description:
          'El mercado de Pochutla, Oaxaca, es un vibrante centro donde convergen colores, aromas y sabores tradicionales de la región. En este bullicioso mercado puedes encontrar una amplia variedad de productos frescos como frutas tropicales, verduras locales, pescados y mariscos recién capturados del cercano Océano Pacífico. Además, es un lugar ideal para descubrir artesanías auténticas oaxaqueñas, textiles vibrantes y cerámicas pintadas a mano. El mercado también es conocido por su ambiente animado, lleno de comerciantes locales que ofrecen productos frescos y productos artesanales, creando una experiencia única que refleja la rica cultura y tradiciones de Oaxaca.',
      },
      {
        title: 'Camiones',
        description:
          'Puedes encontrar varias terminales de autobuses que conectan la ciudad con diferentes destinos tanto dentro del estado como fuera de él. Terminal de Autobuses ADO, SUR, Línea Dorada',
      },
      {
        title: 'Areopuertos',
        description: `Los dos aeropuertos más cercanos a Mazunte son: Aeropuerto Internacional de Huatulco (HUX) y Aeropuerto Internacional de Puerto Escondido (PXM). Ambos aeropuertos ofrecen opciones para llegar a Mazunte a través de transporte terrestre, como taxis, autobuses y servicios de transporte privado.`,
      },
    ]}
    image={{
      src: '~/assets/images/fotos/Pochutla.jpg',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Pochutla
    </h3>
    Se encuentra a 25 minutos en moto.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Playa La Entrega',
        description: `Conocida por sus aguas tranquilas y cristalinas, es ideal para practicar snorkel y buceo. También cuenta con un arrecife de coral cercano que atrae a una variedad de vida marina.`,
      },
      {
        title: 'Playa Santa Cruz',
        description:
          'Es una de las playas más populares y concurridas de Huatulco. Aquí puedes encontrar una amplia oferta de restaurantes, bares y actividades acuáticas como paseos en kayak y tours en lancha.',
      },
      {
        title: 'Playa La Madera',
        description:
          "Esta playa más pequeña y tranquila es ideal para aquellos que buscan un ambiente más relajado. Es perfecta para nadar y disfrutar de la serenidad del entorno.",
      },
      {
        title: 'Bancos y tiendas departamentales',
        description:
          'En Huatulco, Oaxaca, puedes encontrar una variedad de bancos y tiendas departamentales que satisfacen las necesidades de los residentes y visitantes. Aquí te menciono algunos de los bancos y tiendas departamentales más comunes: Banamex, BBVA, Santander, Banorte, HSBC, Scotiabank, Inbursa y Caja Popular Mexicana | Coppel, Elektra, Walmart, Chedraui, Soriana',
      },
    ]}
    image={{
      src: '~/assets/images/fotos/La-crucesita-huatulco.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Huatulco
      </h3>
      Se encuentra a 1 hora en moto.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Playa Zicatela',
        description:
          'Famosa por sus impresionantes olas, es una de las playas más reconocidas para practicar surf. También cuenta con una amplia extensión de arena ideal para caminar y disfrutar del paisaje.',
      },
      {
        title: 'Playa Carrizalillo',
        description:
          'Esta playa es conocida por su acceso a través de una escalera empinada que lleva a una bahía tranquila y perfecta para nadar y hacer snorkel. Es popular entre los visitantes que buscan un ambiente más relajado.',
      },
      {
        title: 'Playa Principal',
        description:
          'Ubicada en el corazón de Puerto Escondido, es una playa central que ofrece una variedad de servicios como restaurantes, bares y actividades acuáticas. Es un excelente lugar para disfrutar del sol y del ambiente local.',
      },
      {
        title: 'Bancos y tiendas departamentales',
        description: `Banamex, BBVA, Santander, Banorte, HSBC | Coppel, Elektra`,
      },
    ]}
    image={{
      src: '~/assets/images/fotos/PuertoEscondido.jpg',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
    Puerto Escondido
    </h3>
    Se encuentra a 1 hora en moto.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!--/Mapas -->

 





  <!-- Features2 Widget ************** -->

   <Features2
   id="contacto"
    title="Contacto"
    subtitle="Eric Sánchez Barragán"
    tagline=""
    items={[
      {
        title: 'Correo',
        description: "d34.eric@gmail.com",
        icon: 'tabler:mail',
      },
      {
        title: 'Número celular',
        description:"55 4019 7392",
        icon: 'tabler:device-mobile',
      },
      // {
      //   title: 'Features',
      //   description:
      //     'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
      //   icon: 'flat-color-icons:approval',
      // },
      // {
      //   title: 'Content',
      //   description:
      //     "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
      //   icon: 'flat-color-icons:document',
      // },
      // {
      //   title: 'Call-to-Action',
      //   description:
      //     'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
      //   icon: 'flat-color-icons:advertising',
      // },
      // {
      //   title: 'Pricing',
      //   description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
      //   icon: 'flat-color-icons:currency-exchange',
      // },
      // {
      //   title: 'Testimonial',
      //   description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
      //   icon: 'flat-color-icons:voice-presentation',
      // },
      // {
      //   title: 'Contact',
      //   description:
      //     'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
      //   icon: 'flat-color-icons:business-contact',
      // },
      // {
      //   title: 'Footers',
      //   description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
      //   icon: 'flat-color-icons:database',
      // },
    ]}
  > 
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!--                       -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Caracteristicas del terreno"
    subtitle=""
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Ubicación Privilegiada',
        description:
          "Situado en una elevación que ofrece vistas panorámicas al mar, el terreno proporciona la oportunidad única de disfrutar atardeceres espectaculares y el sonido relajante de las olas, todo a solo 12 minutos en moto de Mazunte y 10 minutos de Playa Ventanilla.",
      },
      {
        title: 'Espacio Ideal para Construir',
        description:
          'Con dimensiones de 20x20 metros cuadrados, el terreno ofrece un amplio espacio para la construcción de una residencia personalizada o una inversión inmobiliaria estratégica.',
      },
      {
        title: 'Documentación y Legalidad',
        description:
          "Los papeles del terreno incluyen un acta de posesión y pagos de derechos al día, asegurando una transacción segura y sin complicaciones legales.",
      },
      {
        title: "Potencial de Valorización",
        description:
          "La ubicación en una zona de creciente interés turístico y residencial asegura un potencial de valorización a largo plazo, convirtiéndolo en una inversión atractiva tanto para uso personal como para inversión inmobiliaria.",
      },
      {
        title: 'Estilo de Vida Tranquilo y Natural',
        description:
          "Disfrute de un entorno natural, tranquilo y privado, ideal para aquellos que buscan escapar del bullicio de la ciudad y conectarse con la serenidad y belleza del entorno costero de Oaxaca.",
      },
 
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'whats app',
        href: 'https://wa.me/+525540197392',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
    <span class="sm:whitespace-nowrap">Terreno de 400 m2</span>
    </Fragment>

    <Fragment slot="subtitle">
      Medidas: 20 x 20 metros |
      <span style="color:rgb(1 97 239);">Precio: $440,000 MX</span>
    </Fragment>
  </CallToAction>
</Layout>
